In [13]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = sns. load_dataset ('penguins')
df. head ()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

ML Supervisado

In [4]:
df.shape

(344, 7)

In [3]:
df.isna().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

Funciones SKLearn

- make_pipeline
- StandarScaler
- MinMaxScaler
- LabelEncoder
- OneHotEncoder
- SimpleImputer

In [6]:
from sklearn.impute import SimpleImputer 
from sklearn.compose import ColumnTransformer 
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler, LabelEncoder

In [9]:
df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [10]:
numeric_features = ['bill_length_mm', 'bill_depth_mm', 'flipper_lenght_mm', 'body_mass_g']
categorical_features = ['island', 'sex']

In [12]:
numeric_transformer = make_pipeline(
    ('imputer',SimpleImputer(strategy='mean'))
)

categorical_transformer = make_pipeline(
    ('imputer',SimpleImputer(strategy='most_frequent'))
)

In [16]:
x = pd.DataFrame(['azul', 'rojo', 'verde', 'azul'])

pd.get_dummies(x)

   0_azul  0_rojo  0_verde
0    True   False    False
1   False    True    False
2   False   False     True
3    True   False    False